# build/**
dist/**
**/dist/**
node_modules/**
**/node_modules/**
src/sass/**
**/*.css
src/libs/*.js
example-applications/**
packages/examples/**
packages/client/**
packages/vscodePlugin/**
packages/docs/**
